extends ../index

block variables
    - var title = 'Карта товара'

mixin carouselItem()
    li.card__info-item
        img(src=require("../../assets/image/product/product-photo.png") @click="showCarouselDialog")

mixin aboutItem(title, value)
    li.about-item
        span.left-col #{title}
        span.right-col #{value}

mixin analogItem()
    li.s-product-analog-item
        img.s-product-analog-image(src="img/product/product-photo-analog.png")
        span.s-product-analog-text Блок двигателя Мерседес Спринтер 2.2 cdi (Mercedes Sprinter)
        a.s-product-analog-link(href="#")
            span.s-product-analog-link-icon.icon-plus
            span.s-product-analog-link-text Подробнее

block content
    //- include ../../components/basket/basket
    section.card#card
        .card__container.container.content
            aside.sidebar

            main.card__content
                .card__info
                    ul.card__carousel
                            - for (i = 0; i < 6; i++)
                                +carouselItem()

                    carousel-component(
                        v-if="carouselDialog"
                        @close="showCarouselDialog"
                        :images="urls" )

                    .card__product
                        h1.card__heading Блок двигателя Мерседес Спринтер 2.2 cdi (Mercedes Sprinter)

                        ul.card__product-items
                            li.card__product-item
                                span.card__product-title Цена:
                                span.card__product-value 1234 грн.

                            li.card__product-item
                                span.card__product-title Наличие:
                                span.card__product-value.true В наличии
                                // span.card__product-value.false Нет в наличии

                            li.card__product-item
                                span.card__product-title Артикул:
                                span.card__product-value MS-1

                            li.card__product-item
                                span.card__product-title ОЕ Номер
                                span.card__product-value 13132111131131331

                        .card__btns
                            a.card__buy.btn.btn_accent.link(
                                href="javascript:;" 
                                @click="addToBasket"
                                id="455"
                                )
                                img(src=require("../../assets/image/icons/add-to-card.svg"), alt="", srcset="" height="22")
                                | Купить

                            add-to-basket(
                                v-if="addToBasketDialog"
                                @close="showAddToBasket"
                                :data="addToBasketData")

                            a.card__callback.btn.btn_dark(href="javascript:;" :class="{ active: callbackDialog }" @click="showCallbackDialog")
                                img(src=require("../../assets/image/icons/phone.svg"), alt="" height="22")

                            a.card__callback.btn.btn_dark.link(href="javascript:;" :class="{ active: phoneList }" @click="showPhoneList") 380...

                        callback-component(
                            v-if="callbackDialog"
                            @close="showCallbackDialog"
                        )

                        .card__phones-wrap(v-if="phoneList")
                            ul.card__phones
                                li.card__phone
                                    a.link(href="tel: +380937008000") +38(093)700-80-00

                                li.card__phone
                                    a.link(href="tel: +380977008070") +38(097)700-80-70

                                li.card__phone
                                    a.link(href="tel: +380992701500") +38(099)270-15-00

    //- section.section.section_path.card#card
    //-     //- include ../_blocks/_breadcrumps/_breadcrumps

    //-     include ../../components/dialog/basket
    //-     .s-product__about.about
    //-         ul.accordion-tabs-minimal
    //-             li.tab-header-and-content
    //-                 a(href="#").tab-link Описание
    //-                 .tab-content
    //-                     p.about-description Блок двигателя Мерседес Спринтер 2.2 cdi (Mercedes Sprinter): в отличном состоянии. Купить блок двигателя на авторазборке.
    //-                     p.about-heading Характеристики:
    //-                     ul.about-list
    //-                         +aboutItem("Производитель", "Мерседес")
    //-                         +aboutItem("Модель", "Mercedes Sprinter")
    //-                         +aboutItem("Тип запчасти", "Оригинал")
    //-                         +aboutItem("Состояние", "Б/У")
    //-                         +aboutItem("Кузов", "")
    //-                         +aboutItem("Год выпуска", "1996-2006")
    //-             li.tab-header-and-content
    //-                 a(href="#").tab-link Написать нам
    //-                 .tab-content
    //-                     form#contact-form.contact-form
    //-                         .contact-form-row
    //-                             ul
    //-                                 li
    //-                                     input#field-name.contact-form-field(type="text" placeholder="Ваше имя" name="name" form="contact-form")
    //-                                     label.contact-form-label.error-label(for="field-name")
    //-                                 li
    //-                                     input#field-phone.contact-form-field(type="tel" placeholder="Ваш телефон" name="phone" form="contact-form")
    //-                                     label.contact-form-label.error-label(for="field-phone")
    //-                                 li
    //-                                     input#field-email.contact-form-field.error-input(type="email" placeholder="Ваш e-mail" name="email" form="contact-form")
    //-                                     label.contact-form-label.error-label(for="field-email") Text errorText errorText errorText errorText errorText
    //-                         .contact-form-row
    //-                             textarea.contact-form-text(name="text" form="contact-form" placeholder="Задайте Ваш вопрос")
    //-                         .contact-form-row
    //-                             button.contact-form-button(type="submit") Отправить
    //-             li.tab-header-and-content
    //-                 a(href="#").tab-link Отзывы о товаре
    //-                 .tab-content
    //-     .share
    //-         span Поделиться
    //-         include ../_blocks/_social-icon-list/_social-icon-list
    //-     .s-product__analog
    //-         p.s-product__analog-heading Похожие товары
    //-         ul.s-product__analog-list
    //-             - for(i = 0; i < 3; i++)
    //-                 li.s-product__analog-item
    //-                     img.s-product__analog-image(src="img/product/product-photo-analog.png")
    //-                     span.s-product__analog-text Блок двигателя Мерседес Спринтер 2.2 cdi (Mercedes Sprinter)
    //-                     a.s-product__analog-link(href="#")
    //-                         span.s-product__analog-link-icon.icon-plus
    //-                         span.s-product__analog-link-text Подробнее

    //- .modal-window
    //-     .modal-call-back
    //-         input.modal-state-prod#modal-2(type="checkbox")
    //-         .modal-fade-screen
    //-             .modal-inner.modal-inner-prod
    //-                 .modal-close
    //-                 span.modal-inner-photo-prod
    //-                     img(src="/img/product/product-photo-analog.png")
    //-                 p.modal-inner-head-prod Блок двигателя Мерседес Спринтер 2.2 cdi (Mercedes Sprinter)
    //-                 p.modal-inner-description Оставьте свой номер телефона и представитель компании свяжется с Вами в ближайшее время
    //-                 .input-wrapper
    //-                     input.error-input.pop-up-input.your-name(type="text" placeholder="Как Вас зовут?")
    //-                     span.must *
    //-                     label.error-label Test error-label
    //-                 .input-wrapper
    //-                     input.pop-up-input.your-email(type="email" placeholder="Введите Ваш email")
    //-                     label.error-label
    //-                 .input-wrapper
    //-                     input.pop-up-input.number-phone(type="tel" maxlength="12" placeholder="Введите Ваш телефон")
    //-                     span.must *
    //-                     label.error-label
    //-                 button.call(type="submit") Перезвонить

        
